<!DOCTYPE html>
<html lang="cn">
<head>
  {% include "htmlHead.html" %}

</head>

<body>
  {% include "navBar.html" %}

  <div class="container">



    <div class="form-group">
      <label for="nameField">Name</label>
      <input type="text" class="form-control" id="nameField" placeholder="Name">
    </div>

    <div class="form-group">
      <label for="nameField">Password</label>
      <input type="password" class="form-control" id="passwordField" placeholder="Password">
    </div>



    <a style="margin-bottom: 10px;"  type="button" id="addSeg" href="#" onClick="register()" class="small-padding col-xs-12 btn btn-info">Register</a>

    <a style="margin-bottom: 10px;"  type="button" id="" href="/" class="small-padding col-xs-12 btn btn-default">Back</a>

  </div>

</body>

<script>

$('#page-title').text("Register")

function register(){
  $.ajax({
    url: "/api/user/register",
    type: 'POST',
    data: {
      email: $('#nameField').val(),
      password: $('#passwordField').val(),
    },
  })
  .done(function(data) {
    console.log(data);

    Cookies.set('email', data.email, { expires: 180 });
    Cookies.set('userId', data._id, { expires: 180 });


    swal({
      title: "Welcome to GoTimer!",
      type: "success",
      text: "Redirect to home page in 2 seconds..",
      showConfirmButton: true,
      confirmButtonText: "Go to home page now",
    }, function(isConfirm){
      window.location = "/log/list/" + Cookies.get('userId')
    })

    setTimeout(function(){
      window.location = "/log/list/" + Cookies.get('userId')
    },2500)


  })
  .error(function() {

    swal({
      title: "Something Wrong?",
      text: "Please try again",
      type: "error",
      showCancelButton: true,
      showConfirmButton: false,
      cancelButtonText: "#5cb85c",
      cancelButtonText: "Nope!",
    }, function(isConfirm){
    })
  })
}

</script>

</html>
