<!DOCTYPE html>
<html lang="cn">
<head>
  {% include "htmlHead.html" %}

</head>

<body>
  {% include "navBar.html" %}

  <div class="container">



    <div class="form-group">
      <label for="nameField">Email</label>
      <input type="text" class="form-control" id="emailField" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="nameField">Password</label>
      <input type="password" class="form-control" id="passwordField" placeholder="Password">
    </div>



    <div class="form-group">
      <a type="button" id="addSeg" href="#" onClick="register()" class="small-padding col-xs-12 btn btn-info">Register</a>
    </div>

  </div>

</body>

<script>

$('#page-title').text("New User Register")

function register(){
  $.ajax({
    url: "/api/user/register",
    type: 'POST',
    data: {
      email: $('#emailField').val(),
      password: $('#passwordField').val(),
    },
  })
  .done(function(data) {
    console.log(data);

    swal({
      title: "Welcome to GoTimer!",
      type: "success",
      showConfirmButton: true,
      confirmButtonText: "Go to home page now",
    }, function(isConfirm){
      Cookies.set('email', data.email, { expires: 180 });
      Cookies.set('userId', data._id, { expires: 180 });
      window.location = "/log/list/" + Cookies.get('userId')
    })

  })
  .error(function() {

    swal({
      title: "Something Wrong?",
      text: "Please try again",
      type: "error",
      showCancelButton: true,
      showConfirmButton: false,
      cancelButtonText: "#5cb85c",
      cancelButtonText: "Nope!",
    }, function(isConfirm){
    })
  })
}

</script>

</html>
