<!DOCTYPE html>
<html lang="cn">

<head>

  {% include "htmlHead.html" %}

  <script src="../src/js/jquery.js"></script>
  <link rel="stylesheet" href="../src/css/bootstrap.min.css">
  <script src="../src/js/bootstrap.min.js"></script>
  <script src="../src/js/chart.min.js"></script>
  <script src="/src/js/bind.min.js"></script>
  <script src="/src/js/moment.min.js"></script>

</head>


<body>

  {% include "navBar.html" %}

  <div class="container">

    {% include "History/seg.html" %}

    {% include "History/datePicker.html" %}

    <div class="col-xs-12">

      <canvas class="middle" id="myChart" max-width="100%" max-height="100%"></canvas>

    </div>

    <div class="col-xs-8 col-xs-offset-2" style="margin-top : 50px;">

      <div class="middle" id="legend">
      </div>


    </div>

    </div>
  </div>

  {% include "tabBar.html" %}
</body>
<script>



var $scope = Bind({
  selectedDayStringLabel : moment().format('MMMM DD YYYY'),
  selectedDayStringTextField : moment().format('MMMM DD YYYY'),
},{
  selectedDayStringLabel : '#selectedDayStringLabel',
  selectedDayStringTextField : '#selectedDayStringTextField',
  }
)

</script>

<script src="/src/js/history.chart.js"></script>

</html>
