<!DOCTYPE html>
<html lang="cn">

<head>

  {% include "htmlHead.html" %}

  <link rel="stylesheet" href="/src/css/animated.min.css">

  <link rel="stylesheet" href="../src/css/global.css">

</head>


<body>

  {% include "navBar.html" %}

  <div class="container">

    {% include "History/seg.html" %}

    {% include "History/datePicker.html" %}

    <!-- <div id="list">

  </div> -->


  <div class="cell">
    <div class="col-xs-3 small-padding">
      <h5 style="text-align : center">Name</h5>
    </div>
    <div class="col-xs-3 small-padding">
      <h5 style="text-align : center">Category</h5>
    </div>
    <div class="col-xs-3 small-padding">
      <h5 style="text-align : center">Actual Duration</h5>
    </div>
    <div class="col-xs-3 small-padding">
      <h5 style="text-align : center">Actions</h5>
    </div>
  </div>

  {% for item in items %}

  <div class="col-xs-12 no-padding cell">

    <div class="col-xs-12 small-padding">
      <div class="col-xs-3 small-padding">
        <h5 style="text-align : center">{{item.name}}</h5>
      </div>
      <div class="col-xs-3 small-padding">
        <h5 style="text-align : center">{{item.category}}</h5>
      </div>
      <div class="col-xs-3 small-padding">
        <h5 style="text-align : center">{{item.actualDurationString}}</h5>
      </div>
      <div class="col-xs-3 small-padding">
        <button class="col-xs-12 btn btn-xs btn-info infoBtn">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> More
        </button>
      </div>
    </div>

    <div class="goalDetailContainer">
      <div class="col-xs-5 small-padding">
        <p class="gray" style="text-align : left">Started at</p>
      </div>
      <div class="col-xs-7 small-padding">
        <p class="gray" style="text-align : left">{{item.startedString}}</p>
      </div>

      <div class="col-xs-5 small-padding">
        <p class="gray" style="text-align : left">Ended at</p>
      </div>
      <div class="col-xs-7 small-padding">
        <p class="gray" style="text-align : left">{{item.endedString}}</p>
      </div>

      <div class="col-xs-5 small-padding">
        <p class="gray" style="text-align : left">Estimated Duration</p>
      </div>
      <div class="col-xs-7 small-padding">
        <p class="gray" style="text-align : left">{{item.estimatedDurationString}}</p>
      </div>

      <div class="col-xs-6 small-padding">
        <button class="col-xs-12 btn btn-xs btn-warning editBtn" go-timer-id="{{item._id}}">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </button>
      </div>

      <div class="col-xs-6 small-padding">
        <button class="col-xs-12 btn btn-xs btn-danger deleteBtn" go-timer-id="{{item._id}}">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
      </div>

      <div class="col-xs-6 small-padding">
        <span>   </span>
      </div>

    </div>

  </div>

  {% endfor %}

</div>

{% include "tabBar.html" %}
</body>
<script>

  $('.goalDetailContainer').hide();

  $('.infoBtn').click(toggleDetail);

  function toggleDetail(){
    var detail = $(this).parent().parent().parent().find('.goalDetailContainer')
    if(!detail.is(":visible")){
      detail.show().addClass('animated flash');
      console.log('about to show')
    }
    else{
      detail.hide().addClass('animated flash');
      console.log('about to hide')
    }
  }

  // Delete Btn
  $('.deleteBtn').click(function(){
    // var result = confirm('Are you sure you want to delete this goal?');
    // if (!result) return;
    var goalId = $(this).attr('go-timer-id');
    var div = $(this).parent().parent().parent()

    swal({
      title: "Delete this goal?",
      text: "You will not be able to recover this goal and its data!",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, Delete it!",
      cancelButtonText: "Nope!",
      closeOnConfirm: false,
      closeOnCancel: false
    }, function(isConfirm){
      if (isConfirm) {
        console.log('About to deleteGoal -> ' +goalId);
        $.ajax({
          url: "../api/logs/delete",
          type: 'DELETE',
          data: {
            id: goalId,
          },
        })
        .done(function(data) {
          if(data._id == goalId){
            swal("Deleted!", "Your goal has been deleted.", "success");
            div.addClass('animated fadeOut');
            div.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
              div.remove();
            });
          }
        });
      } else {
        swal.close()
      }
    });
  });

var $scope = Bind({
  selectedDayStringLabel : moment().format('MMMM DD YYYY'),
  selectedDayStringTextField : moment().format('MMMM DD YYYY'),
},{
  selectedDayStringLabel : '#selectedDayStringLabel',
  selectedDayStringTextField : '#selectedDayStringTextField',
}
)

var $scope = Bind({
  list: [{
    name: 'Review CSE170',
    duration: '15 mins',
    started: moment([2010, 1, 14, 15, 25, 50, 125]).format('YYYY-DD-MM hh:mm:ss'),
    finished: moment([2010, 1, 14, 15, 25, 50, 125]).add('15','mins').format('YYYY-DD-MM hh:mm:ss'),
  },{
    name: 'Enroll Class',
    duration: '5 mins',
    started: moment([2010, 1, 14, 15, 25, 50, 125]).format('YYYY-DD-MM hh:mm:ss'),
    finished: moment([2010, 1, 14, 15, 25, 50, 125]).add('5','mins').format('YYYY-DD-MM hh:mm:ss'),
  },{
    name: 'Gym Time',
    duration: '60 mins',
    started: moment([2010, 1, 14, 15, 25, 50, 125]).format('YYYY-DD-MM hh:mm:ss'),
    finished: moment([2010, 1, 14, 15, 25, 50, 125]).add('60','mins').format('YYYY-DD-MM hh:mm:ss'),
  }]
}, {
  list: {
    dom: '#list',
    transform: function (value) {
      var str = ''

      str += '<div class="cell">'

      // Start of Left Info Panel col-8

      // Name

      str += '<div class="col-xs-3 small-padding">'
      str += '<h5>'+value.name+'</h5>'
      str += '</div>'

      str += '<div class="col-xs-3 small-padding">'
      str += '<h5>'+value.duration+'</h5>'
      str += '</div>'


      str += '<div class="col-xs-3 small-padding">'
      str += '<h5>'+value.started+'</h5>'
      str += '</div>'

      str += '<div class="col-xs-3 small-padding">'
      str += '<h5>'+value.finished+'</h5>'
      str += '</div>'

      str += '</div>'

      return str;
    },
  }
});

</script>

</html>
