<!DOCTYPE html>
<html lang="cn">

<head>
  {% include "htmlHead.html" %}

  <script src="/src/js/jquery.js"></script>
  <link rel="stylesheet" href="/src/css/bootstrap.min.css">
  <script src="/src/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/src/css/animated.min.css">

  <script src="/src/js/bind.min.js"></script>
  <script src="/src/js/lodash.min.js"></script>
  <script src="/src/js/moment.min.js"></script>
  <script src="/src/js/wow.min.js"></script>
</head>

<body>
  {% include "navBar.html" %}


  <div class="container">

    {% include "Log/seg.html" %}
<!--
    <div id="goalsList">


    </div> -->

    {% for item in items %}

    <div class="col-xs-12 well small-padding runningWall">


      <div class="col-xs-8">

        <div>
            <h4>{{item.name}}</h4>
        </div>

      </div>

      <div class="col-xs-4">
        <button class="col-xs-12 btn btn-success">Start Button</button>
      </div>



      <div class="col-xs-3 small-padding">
        <h5 style="text-align : center">{{item.startedString}}</h5>
      </div>


    </div>

    {% endfor %}


  </div>

  {% include "tabBar.html" %}
</body>
<script>


  var $scope = Bind({
    goalsList: [
    ]
  }, {
    goalsList: {
      dom: '#goalsList',
      transform: function (value) {
        var str = ''

        if(value.started && !value.ended){
          str += '<div class="col-xs-12 well small-padding runningWall">'
        }
        else if(value.started && value.ended){
          str += '<div class="col-xs-12 well small-padding endedWall">'
        }
        else{
          str += '<div class="col-xs-12 well small-padding waitingWall">'
        }


        // Start of Left Info Panel col-8
        str += '<div class="col-xs-8 small-padding">'

        // Name
        str += '<div class="col-xs-12 small-padding">'
        str += '<h5>'+value.name+'</h5>'
        str += '</div>'

        // Titles
        str += '<div class="col-xs-4 small-padding">'

          str += '<div class="col-xs-12 small-padding">'
          str += '<span>Est. Time: </span>'
          str += '</div>'

          str += '<div class="col-xs-12 small-padding">'
          str += '<span>Duration: </span>'
          str += '</div>'

          str += '<div class="col-xs-12 small-padding">'
          str += '<span>Started At: </span>'
          str += '</div>'

          str += '<div class="col-xs-12 small-padding">'
          str += '<span>Ended At: </span>'
          str += '</div>'

        str += '</div>'

        // Start Tag of Values col-8
        str += '<div class="col-xs-8 small-padding">'
          str += '<div class="col-xs-12 small-padding">'
          str +=  value.estimatedTime+' mins';
          str += '</div>'

          str += '<div class="col-xs-12 small-padding">'
          str +=  secondsToString(value.duration) +'';
          str += '</div>'

          str += '<div class="col-xs-12 small-padding">'
          if(value.started) str +=  '<span class="startedSpan"> '+moment(value.started).format('YYYY-MM-DD hh:mm:ss')+'</span>';
          else str += '<span class="startedSpan"> N/A </span>';
          str += '</div>'

          str += '<div class="col-xs-12 small-padding">'
          if(value.started) str +=  '<span class="endedSpan"> '+moment(value.ended).format('YYYY-MM-DD hh:mm:ss')+'</span>';
          else str += '<span class="endedSpan"> N/A </span>';
          str += '</div>'

        // Close Tag of Values col-8
        str += '</div>'

        // Close of Left Info Panel col-8
        str += '</div>'

        str += '<div class="col-xs-4 small-padding">'
        if(value.started && !value.ended){
          str += '<button style="display:none;" type="button" go-timer-id="'+value._id+'" class="col-xs-12 btn btn-xs btn-success startBtn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>'
          str += '<button type="button" go-timer-id="'+value._id+'" class="col-xs-12 btn btn-xs btn-warning stopBtn"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>'
        }
        else if(value.started && value.ended){
          str += '<button disabled="disabled" style="display:none;" type="button" go-timer-id="'+value._id+'" class="col-xs-12 btn btn-xs btn-success startBtn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>'
          str += '<button disabled="disabled" type="button" go-timer-id="'+value._id+'" class="col-xs-12 btn btn-xs btn-warning stopBtn"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>'
        }
        else{
          str += '<button type="button" go-timer-id="'+value._id+'" class="col-xs-12 btn btn-xs btn-success startBtn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>'
          str += '<button style="display:none;" type="button" go-timer-id="'+value._id+'" class="col-xs-12 btn btn-xs btn-warning stopBtn"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>'
        }

          str += '<div class="goal-edit-btns">'
          str += '<button type="button" go-timer-id="'+value._id+'" class="col-xs-5 btn btn-xs btn-info editBtn" style="margin-top:5px;margin-right:16.6666667%;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></button>'
          str += '<button type="button" go-timer-id="'+value._id+'" class="col-xs-5 btn btn-xs btn-danger deleteBtn" style="margin-top:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>'
          str += '</div>'

          str += '<div class="goal-timer col-xs-12 small-padding">'
          str += '<h3 style="text-align: center;" class="col-xs-12 actual-timer small-padding" go-timer-id="'+value._id+'" go-timer-duration='+value.duration+'>'+value.timerString+'</h3>'
          str += '</div>'

          str += '<div class="goal-timer col-xs-12 small-padding">'
          str += '<h3 style="text-align: center;" class="col-xs-12 display-timer small-padding" go-timer-duration='+value.duration+'>'+value.timerString+'</h3>'
          str += '</div>'

        str += '</div>'

        str += '</div>'

        return str;
      },
    }
  });


  function startGoal(id){
    // $.ajax({
    //   url: "../api/logs/start",
    //   type: 'GET',
    // })
    // .done(function(data) {
    //   console.log(data);
    // })
  }

  function bindEverything(){

    $('.display-timer').hide();

    // Start Btn
    $('.startBtn').click(function(){
      // var result = confirm('Would you like to start timing your goal?');
      // if (!result) return;
      // console.log('About to startGoal -> ' + $(this).attr('go-timer-id'));

      var _this = $(this);

      swal({
        title: "Start this goal?",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5cb85c",
        confirmButtonText: "Yes, Start it!",
        cancelButtonText: "Nope!",
        closeOnConfirm: false,
        closeOnCancel: false
      }, function(isConfirm){
        if (isConfirm) {

          _this.parent().find('.stopBtn').show().addClass('animated fadeIn');
          _this.hide();

          _this.parent().parent().removeClass('waitingWall').addClass('animated flash runningWall');


          $('.startBtn').attr('disabled', 'disabled');

          _this.parent().parent().find('.startedSpan').text(moment().format('YYYY-DD-MM hh:mm:ss'))

          var timer = _this.parent().parent().find('.actual-timer');
          countUp(timer);

          $.ajax({
            url: "../api/logs/start",
            type: 'GET',
            data: {
              id: _this.attr('go-timer-id'),
            },
          })
          .done(function(data) {
            swal.close()
            notie.alert(1, 'Goal Started!', 1.5);
            console.log(data);
          })

        } else {
          swal.close()
        }
      });


    });

    // Stop Btn
    $('.stopBtn').click(function(){
      console.log('About to stop goal -> ' + $(this).attr('go-timer-id'));
      // var result = confirm('Would you like to stop timing your goal?');
      // if (!result) return;
      var _this = $(this);

      swal({
        title: "Stop this goal?",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#eea236",
        confirmButtonText: "Yes, Stop it!",
        cancelButtonText: "Nope!",
        closeOnConfirm: false,
        closeOnCancel: false
      }, function(isConfirm){
        if (isConfirm) {

          _this.attr('disabled', 'disabled');
          $('.startBtn').removeAttr('disabled');

          _this.parent().parent().removeClass('runningWall animated flash')
          _this.parent().parent().addClass('animated fadeIn endedWall');



          var temp = _this.parent().find('.actual-timer').eq(0).text();
          console.log('display timer -> ' + temp)

          _this.parent().parent().find('.actual-timer').remove();
          _this.parent().parent().find('.display-timer').show();
          _this.parent().parent().find('.display-timer').text(temp);


          clearTimeout();

          $.ajax({
            url: "../api/logs/stop",
            type: 'GET',
            data: {
              id: _this.attr('go-timer-id'),
            },
          })
          .done(function(data) {
            swal.close()
            notie.alert(2, 'Goal Stopped!', 1.5);
            console.log(data);
          })

        } else {
          swal.close()
        }
      });

    });

    // Delete Btn
    $('.deleteBtn').click(function(){
      // var result = confirm('Are you sure you want to delete this goal?');
      // if (!result) return;
      var goalId = $(this).attr('go-timer-id');
      var div = $(this).parent().parent().parent()

      swal({
        title: "Delete this goal?",
        text: "You will not be able to recover this goal and its data!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, Delete it!",
        cancelButtonText: "Nope!",
        closeOnConfirm: false,
        closeOnCancel: false
      }, function(isConfirm){
        if (isConfirm) {
          console.log('About to deleteGoal -> ' +goalId);
          $.ajax({
            url: "../api/logs/delete",
            type: 'DELETE',
            data: {
              id: goalId,
            },
          })
          .done(function(data) {
            if(data._id == goalId){
            swal("Deleted!", "Your goal has been deleted.", "success");
            div.addClass('animated fadeOut');
              div.one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                div.remove();
              });

            }
          });

        } else {
          swal.close()
        }
      });


    });
  }

  function secondsToString(seconds){
    var hours = parseInt( seconds / 3600 ) % 24;
    var minutes = parseInt( seconds / 60 ) % 60;
    var seconds = seconds % 60;

    return (hours < 10 ? "0" + hours : hours) + ":" + (minutes < 10 ? "0" + minutes : minutes) + ":" + (seconds  < 10 ? "0" + seconds : seconds);
  }

  function countUp(elem){
    $(elem).attr('go-timer-duration',parseInt($(elem).attr('go-timer-duration'),10) + 1);
    $(elem).text(secondsToString($(elem).attr('go-timer-duration')));
    setTimeout(function() { countUp(elem); }, 1000);
  }

  function fetch(){
    var mightBeRunning = null;
    $.ajax({
      url: "../api/logs/list",
      type: 'GET',
    })
    .done(function(data) {
      console.log(data);
      var newData = [];

      var onGoingTimers = [];
      var notStartedTimers = [];
      var endedTimers = [];

      _.map(data,function(a){
        if(a.started && !a.ended){
          mightBeRunning = a._id;
          console.log('One goal is running!')
          $('.startBtn').attr('disabled', 'disabled');
        }

        // Ended Goal
        if(a.started && a.ended){
          a.duration = moment(a.ended).unix() - moment(a.started).unix();
          a.timerString = secondsToString(a.duration);
          endedTimers.push(a);
        }
        // Running Goal
        else if(a.started && !a.ended){
          a.duration = moment().unix() - moment(a.started).unix();
          a.timerString = secondsToString(a.duration);
          onGoingTimers.push(a);
        }
        else{
          a.duration = 0;
          a.timerString = secondsToString(a.duration);
          notStartedTimers.push(a);
        }

      })

      newData = onGoingTimers.concat(notStartedTimers,endedTimers);

      $scope.goalsList = newData;
      bindEverything();
      if(mightBeRunning){
        $('.startBtn').attr('disabled', 'disabled');
        var timer = $('.actual-timer[go-timer-id='+mightBeRunning+']');
        console.log(timer);
        countUp(timer);
      }
    })
  }



  fetch();

</script>

<style>

.runningWall{
  background-color: #dbf0db;
}

.endedWall{
  background-color: #fbe9d0;
}

.waitingWall{
  background-color: #ccebff;
}

.small-padding{
  padding-left: 5px;
  padding-right: 5px;
}
</style>

<script src="../src/js/notie.js"></script>

</html>
