<!DOCTYPE html>
<html lang="cn">

<head>
  {% include "htmlHead.html" %}
  <script src="../src/js/bind.min.js"></script>
</head>

<body>
  {% include "navBar.html" %}
  <div class="container">
    <h1>Goal List</h1>


    <div id="goalsList">

    </div>

  </div>

</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script>


  var $scope = Bind({
    goalsList: [
    ]
  }, {
    goalsList: {
      dom: '#goalsList',
      transform: function (value) {
        return '<div> '+ value.name +' </div>';
      },
    }
  });


  function fetch(){
    $.ajax({
      url: "../api/logs/list",
      type: 'GET',
    })
    .done(function(data) {
      console.log(data);
      $scope.goalsList = data;
    })
  }

  fetch();

</script>

</html>
