<!DOCTYPE html>
<html lang="cn">

<head>

  {% include "htmlHead.html" %}

  <script src="../src/js/jquery.js"></script>
  <link rel="stylesheet" href="../src/css/bootstrap.min.css">
  <script src="../src/js/bootstrap.min.js"></script>

</head>


<body>

  {% include "navBar.html" %}

  {% include "Log/seg.html" %}

  <div class="container">

    <h1>New Goal</h1>

      <div class="form-group">
        <label for="nameField">Goal Name</label>
        <input type="text" class="form-control" id="nameField" placeholder="Required">
      </div>
      <div class="form-group">
        <label for="categoryField">Category</label>
        <select class="form-control" id="categoryField" placeholder="Required">
          <option value="Eat">Eat</option>
          <option value="Entertainment">Entertainment</option>
          <option value="Housework">Housework</option>
          <option value="Sport">Sport</option>
          <option value="Sleep">Sleep</option>
          <option value="Study">Study</option>
          <option value="Sport">Transport</option>
          <option value="Sport">Work</option>
        </select>
      </div>
      <div class="form-group">
        <label for="estimatedTimeField">Estimate Time</label>
        <input type="number" class="form-control" id="estimatedTimeField" placeholder="In Minutes (Optional)">
      </div>
      <button class="btn btn-default" onClick="submit()">Submit</button>
      <button class="btn btn-default" onClick="back()">Back</button>

  </div>


</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script>

  function submit(){
    $.ajax({
      url: "/logs/newGoal",
      type: 'POST',
      data: {
        name: $('#nameField').val(),
        estimatedTime: $('#estimatedTimeField').val(),
      },
    })
    .done(function(data) {
      console.log(data);
      window.location = "/log/list";
    })
    .error(function() {
      alert('Your input is invalid.');
    })
  }

  function back() {
    window.location = "/log/list";
  }

</script>

</html>
