.activityIconContainer {
  width: 100%;
  padding: 5px 0px;
  margin-top: 20px;
  background-color: #eee;
    /*background:gold; /** <-- For the demo **/*/
}

.timer {
  text-align: center;
}

.activityName {
  text-align: center;
  margin-bottom: 20px;
}

.middle {
  margin-left: auto;
  margin-right: auto;
  display: block
}

.go-timer-progess-bar{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
